.u-block-4281-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-4281-3 {
  position: absolute;
  left: 0;
}

.u-block-4281-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/photo-1486406146926-c627a92ad1ab.jpeg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-1-1 .u-text-2 {
  width: 837px;
  margin: 30px auto 0;
}

.u-section-1-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 40px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-text-2 {
    width: 340px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/photo-1522071820081-009f0129c71c.jpeg');
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-1-2 .u-text-2 {
  width: 837px;
  margin: 30px auto 0;
}

.u-section-1-2 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 40px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-2 .u-text-2 {
    width: 340px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/photo-1629904853716-f0bc54eea481.jpeg');
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-1-3 .u-text-2 {
  width: 881px;
  margin: 27px auto 0;
}

.u-section-1-3 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 42px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-3 .u-text-2 {
    width: 340px;
  }
}