.u-section-1 .u-sheet-1 {
  min-height: 867px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 60px 40px 0;
}

.u-section-1 .u-text-2 {
  margin: 10px 345px 0 40px;
}

.u-section-1 .u-image-1 {
  width: 217px;
  height: 228px;
  margin: -547px 76px 319px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}